# Runtime app (Next/Prisma): usa Transaction Pooler (Puerto 6543)
DATABASE_URL=postgresql://postgres.wgylxdtywdxhujeqncfo:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true&connection_limit=1

# Migraciones e Introspección: usa Session Pooler (Puerto 5432) 
# Se usa este porque tu conexión Directa no es compatible con IPv4
DIRECT_URL=postgresql://postgres.wgylxdtywdxhujeqncfo:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require

STRIPE_SECRET_KEY=sk_...
ADMIN_PASSWORD=change_me
